.button {
    outline: none;
    background: #eaeaea;
    border-radius: 3px;
    max-width: 200px;
    min-width: 50px;
    line-height: 30px;
    font-size: 20px;
    padding: 0 20px;
    color: #4e4d4d;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 1px solid #dedede;
    transition: 0.3s background linear;
}

.button:hover {
    background: #fafafa;
    /*color: #fafafa;*/
}

.button:active {
    background: #fff070;
}

.button .icon {
    width: 16px;
    height: 16px;
    float: left;
}

.button_icon_right .icon {
    float: right
}

.button_type_link {
    font-size: 14px;
    background: none !important;
    text-decoration: none;
    border: none;
    color: #0d89fb;
    cursor: pointer;
}

.button_type_link:hover {
    color: #2a99ff;
}

.button_type_link:active {
    color: #0059ab;
}

.button_type_primary {
    background: #fff070;
}

.button_type_primary:hover {
    background: #eee070;
}

.button_type_primary:active {
    color: #0059ab;
}
